/**
 * @file
 * Styling for UoS Select Filter.
 */

.uos-select-filter-wrapper {
  position: relative;
  margin-bottom: 1em;
}

.uos-select-filter-input {
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.uos-select-filter {
  width: 100%;
}
